<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>未完了タスク</h2>
      <% @missions.each do |mission| %>
        <% if mission.status == false %>
          <div class="mission-box">
            <%= link_to mission_path(mission) do %>
              <%= mission.content %>
            <% end %>
            <%= l mission.deadline, format: :short %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>完了済みタスク</h2>
      <% @missions.each do |mission| %>
        <% if mission.status == true %>
          <div class="mission-box">
            <%= link_to mission_path(mission) do %>
              <%= mission.content %>
            <% end %>
            <%= l mission.deadline, format: :short %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

