<div class="container">
  <div class="col text-center mb-5"><h3>タスク確認</h3></div>
    <div class="col-md-6 mx-auto">
    <p>目標:<%= @mission.content %></p>
    <p>期限:<%= l @mission.deadline, format: :short %>
    <br>
      <input type="hidden" id="userYear" value = "<%= @mission.deadline.year %>"  >
      <input type="hidden" id="userMonth" value = "<%= @mission.deadline.month %>" >
      <input type="hidden" id="userDate" value = "<%= @mission.deadline.day %>" >
      <input type="hidden" id="userHour" value = "<%= @mission.deadline.hour %>" >
      <input type="hidden" id="userMin"  value = "<%= @mission.deadline.min %>" >
      <input type="hidden" id="userSec"  value = "<%= @mission.deadline.sec %>" >
    </p>

    <!--タスクが未完了の場合-->
    <% if @mission.status == false %>
      <!--締め切り前の場合-->
      <% if @mission.deadline > Time.now %>
        <p>締め切りまであと</p>
        <h4 id="RealtimeCountdownArea"></h4>
      <!--締め切りが過ぎていた場合-->
      <% else %>
      　<h4 id="RealtimeCountdownArea"></h4>
      　<p>前にすぎました</p>
      <% end %>
    <!--タスク完了済みの場合-->
    <% else %>
      <p>完了済み</p>
    <% end %>

    <% if @mission.user.id = current_user %>
      <%= link_to "編集", edit_mission_path(@mission), class:"btn btn-success" %>
      <%= link_to "削除", mission_path(@mission.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>