<% provide(:title, "トップ") %>
<div class="col-xs col-sm">
  <div class="jumbotron jumbotron-fluid d-md-none text-center card">
    <%= image_tag 'top-img.jpg', class: 'card-img shadow rounded position-relative' %>
    <div class="col top-title card-img-overlay mt-4 ">
      <h2 class="d-md-none">あなたの人生を</h2>
      <h2 class="d-md-none">可視化しよう。</h2>
      <h4 class="d-md-none">自己分析アプリ</h4>
      <%= link_to '今すぐはじめる', new_user_registration_path,
          class: 'd-md-none btn btn-lg btn-gradient shadow text-white my-3 rounded-pill' %>
    </div>
  </div>
</div>
<!--サイトイメージ-->
<div class="container d-none d-md-block">
  <div class="row py-5">
    <div class="col-sm-4 col-md-6 text-center">
      <%= image_tag 'top-img.jpg', class: 'shadow rounded' %>
    </div>
    <div class="col-8 col-md-6 pt-3">
      <h3 class="d-none d-md-block d-lg-none ml-5">あなたの人生を</h3>
      <h3 class="d-none d-md-block d-lg-none ml-5">可視化しよう。</h3>
      <h5 class="d-none d-md-block d-lg-none ml-5">自己分析アプリ</h5>
      <h3 class="d-none d-lg-block display-4 ml-5">あなたの人生を</h3>
      <h3 class="d-none d-lg-block display-4 ml-5">可視化しよう。</h3>
      <h3 class="d-none d-lg-block ml-5">自己分析アプリ</h3>
      <%= link_to '今すぐはじめる', new_user_registration_path, onfocus: "this.blur();",
          class: 'd-none d-md-inline-block btn btn-lg btn-gradient shadow text-white my-3 ml-md-5 rounded-pill' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h3>My History とは</h3>
    </div>
    <div class="col-12 py-3 text-center">
      <h5 class="favory_introduction">
        過去の出来事を振り返り<br>
        自己分析をするアプリです。<br>
        <br>
      　<br>
        自分はどう生きたいのかを確立しましょう！
      </h5>
    </div>
  </div>
</div>

<!--使い方3STEP-->
<div class="container py-5">
  <div class="row text-center">
    <div class="col-12 py-3">
      <h2 class="font-weight-bold">使い方は簡単3STEP</h2>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4 font-weight-bold">STEP①</h3>
      <div class="card">
        <%= image_tag 'login.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">新規登録</h5>
          <p class="card-text">必要な事項を入力してアカウント作成</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4 font-weight-bold">STEP②</h3>
      <div class="card">
        <%= image_tag 'history.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">自分年表</h5>
          <p class="card-text">過去の出来事を追加</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4 font-weight-bold">STEP③</h3>
      <div class="card">
        <%= image_tag 'chart.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">目標設定</h5>
          <p class="card-text">短期的な目標を設定しよう！</p>
        </div>
      </div>
    </div>
  </div>
</div>