<%= form_with(model: history, local: true) do |f| %>
  <div class="field">
    <%= f.select :period_id, Period.all.map{|period| [period.period, period.id]},include_blank: "--選択して下さい--"  %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event %>
  </div>

  <div class="field">
    <%= f.label :motivation %>
    <%= f.number_field :motivation %>
  </div>

  <!--=====reasonモデルに保存======-->
  <%= f.fields_for :reasons do |r| %>
    <div class="field">
      <%= r.text_field :reason %>
    </div>
     <div class="actions">
       <%= f.submit '保存' %>
     </div>

  <% end %>
<% end %>