<%= form_with(model: history, local: true) do |f| %>
  <div class="field">
    <%= f.select :period, History.periods.keys %>
  </div>

  <!--=====historyモデルに保存======-->
  <%= f.fields_for :contents do |h| %>
    <div class="field">
      <%= h.label :title %>
      <%= h.text_field :title %>
    </div>

    <div class="field">
      <%= h.label :event %>
      <%= h.text_field :event %>
    </div>

    <div class="field">
      <%= h.label :motivation %>
      <%= h.number_field :motivation %>
    </div>

    <!--=====reasonモデルに保存======-->
    <%= h.fields_for :reasons do |r| %>
      <div class="field">
        <%= r.text_field :reason %>
      </div>
       <div class="actions">
         <%= f.submit '保存' %>
       </div>
    <% end %>
  <% end %>
<% end %>