<div class="container">
  <div class="row py-5 d-flex flex-column">
    <div class="col-11 col-md-8 col-lg-6 mx-auto mb-3 p-3 p-md-4 border border rounded-lg shadow bg-white">
      <div class="col form-group pt-3">
        <div class="col text-center text-muted">
        <%= form_with(model: history, local: true) do |f| %>
          <div class="form-group">
            <%= f.select :period_id, Period.all.map{|period| [period.period, period.id]}, include_blank: "--時期を選択--" %>
          </div>

          <div class="form-group">
            <%= f.text_field :title, placeholder:"タイトルを入力", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :event, placeholder:"出来事を入力", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.select :motivation, options_for_select((1..100), {selected: history.motivation}),include_blank: "1~100で選択"  %>
          </div>

          <!--=====reasonモデルに保存======-->
          <%= f.fields_for :reasons do |reason| %>
             <%= render "reason_fields", f: reason %>
             <div class="links text-right">
              <%= link_to_add_association 'なぜ',f, :reasons, data: { association_insertion_method: 'prepend' }, class:"btn btn-primary" %>
            </div>
          <% end %>
          <!--=============================-->
          <div class="form-group">
            <%= f.text_area :summarize, placeholder:"まとめ", class:"form-control" %>
          </div>
            <div class="col text-center">
              <%= f.submit '保存', class: 'btn btn-outline-info shadow-sm rounded-pill mt-3' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>