<% if advantages.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center">自分の強み</th>
        <th scope="col" class="text-center">生きた経験</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% advantages.each do |advantage| %>
        <tr>
          <td><%= advantage.advantage %></td>
          <% if advantage.history_id == nil %>
            <td>経験が登録されていません</td>
          <% else %>
            <td>
              <%= link_to history_path(advantage.history) do %>
               <%= advantage.history.title %>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= link_to edit_advantage_path(advantage.id) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to advantage_path(advantage.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-right pr-5">
    <%= link_to new_advantage_path do %>
      <i class="fa-3x far fa-plus-square"></i>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>まだ強みが登録されていません</p>
    <p>登録してみましょう</p>
    <%= link_to "追加", new_advantage_path, class:"btn btn-primary" %>
  </div>
<% end %>