<% if advantages.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 40%" class="text-center">自分の強み</th>
        <th style="width: 60%" class="text-center">生きた経験</th>
      </tr>
    </thead>
    <tbody>
      <% advantages.each do |advantage| %>
        <tr>
          <td style="width: 40%" class="text-center">
            <%= advantage.advantage %>
          </td>

          <td style="width: 60%">
            <div class="advantage-content">
              <!--もし経験が登録されていない場合-->
              <% if advantage.history_id == nil %>
                経験が登録されていません
              <!--登録されている場合-->
              <% else %>
                <%= link_to history_path(advantage.history) do %>
                  <%= advantage.history.title %>
                <% end %>
              <% end %>
              <!--編集、削除ボタン-->
              <div class="advantage-btn">
                <%= link_to edit_advantage_path(advantage.id) do %>
                  <i class="far fa-edit"></i>
                <% end %>
                <%= link_to advantage_path(advantage.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div class="text-right pr-5">
    <%= link_to new_advantage_path do %>
      <i class="fa-3x far fa-plus-square"></i>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>まだ強みが登録されていません</p>
    <p>登録してみましょう</p>
    <%= link_to "追加", new_advantage_path, class:"btn btn-primary" %>
  </div>
<% end %>