<!--Resumeが存在するとき-->
<% if resumes.present? %>
  <table class="table table-bordered">
    <!--学歴テーブル-->
    <% if resumes.exists?(status: true) %>
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 70%" class="text-center">学歴</th>
        </tr>
      </thead>
    <% end %>
    <% resumes.each do |resume| %>
      <% if resume.status == true %>
        <tbody>
          <tr>
            <td style="width: 30%" class="text-center"><%= resume.period&.strftime("%Y年%m月") %></td>
            <td style="width: 70%">
              <div class="resume-content">
                <%= resume.content %>
                <div class="resume-btn">
                  <%= link_to edit_resume_path(resume.id) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to resume_path(resume.id), method: :delete, data: {confirm: "本当に削除しますか？"} do%>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>

    <!--職歴テーブル-->
    <% if resumes.exists?(status: false) %>
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 70%" class="text-center">職歴</th>
        </tr>
      </thead>
    <% end %>
    <% resumes.each do |resume| %>
      <% if resume.status == false %>
        <tbody>
          <tr>
            <td style="width: 30%" class="text-center"><%= resume.period&.strftime("%Y年%m月") %></td>
            <td style="width: 70%">
              <div class="resume-content">
                <%= resume.content %>
                <div class="resume-btn">
                  <%= link_to edit_resume_path(resume.id) do %>
                    <i class="far fa-edit text-right"></i>
                  <% end %>
                  <%= link_to resume_path(resume.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                    <i class="far fa-trash-alt text-right"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <!--追加ボタン-->
  <div class="text-right pr-5">
    <%= link_to new_resume_path do %>
      <i class="fa-3x far fa-plus-square"></i>
    <% end %>
  </div>
<!--投稿がない場合-->
<% else %>
  <div class="container">
      <p>まだ学歴、職歴が登録されていません</p>
      <p>追加してみましょう</p>
      <%= link_to "追加", new_resume_path, class:"btn btn-primary" %>
  </div>
<% end %>