<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th colspan="3"  class="text-center">学歴</th>
    </tr>
  </thead>
  <tbody>
    <% resumes.each do |resume| %>
      <% if resume.status == true %>
        <tr>
          <th scope="row" class="text-center"><%= resume.period&.strftime("%Y年%m月") %></th>
          <td><%= resume.content %></td>
          <td colspan="2">
            <%= link_to edit_resume_path(resume.id) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to resume_path(resume.id), method: :delete do%>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th scope="col"></th>
      <th colspan="3" class="text-center">職歴</th>
    </tr>
  </thead>
  <tbody>
    <% resumes.each do |resume| %>
      <% if resume.status == false %>
        <tr>
          <th scope="row" class="text-center"><%= resume.period&.strftime("%Y年%m月") %></th>
          <td><%= resume.content %></td>
          <td colspan="2">
            <%= link_to edit_resume_path(resume.id) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to resume_path(resume.id), method: :delete do%>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>