<% if user_signed_in? %>
  <footer class="fixed-bottom bg-white border-top" style="height: 60px;">
    <div class="container-fluid">
      <div class="col-11 col-md-6 col-lg-4 mx-auto d-flex align-items-center justify-content-center text-center" style="height: 60px;">
        <!--年表ボタン-->
        <%= link_to '', histories_path, class: 'col bi fas fa-align-justify text-dark' %>
        <!--モチベーショングラフボタン-->
        <%= link_to '', charts_path, class: 'col bi fas fa-chart-line' %>
        <!--目標設定ボタン-->
        <%= link_to '', missions_path, class: 'col bi fas fa-flag' %>
        <!--マイページボタン-->
        <%= link_to '', mypage_path, class: 'col bi fas fa-home' %>
      </div>
    </div>
  </footer>
<% else %>
  <footer>
    <div class="container py-3">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <%= link_to '会社概要',  class: 'mr-2 text-muted' %>
          <%= link_to 'プライバシー', class: 'mr-2 text-muted' %>
          <%= link_to '利用規約', class: 'mr-2 text-muted' %>
          <%= link_to 'お問い合わせ', class: 'text-muted' %>
        </div>
        <div class="col-12 text-center"><small>&copy; My History</small></div>
      </div>
    </div>
  </footer>
<% end %>