<header>
  <nav class="navbar navbar-light bg-white border-bottom py-0">
    <div class="container my-0" style="height:100px";>
      <div class="d-flex align-items-center">
        <%= link_to "/" do %>
          <%= image_tag "logo.png", :size => '150x60' %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <ul class="nav">
            <li>
              <%= link_to notifications_path do %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;"></i>
                    <i class="fas fa-circle n-circle fa-stack-1x" style="font-size: 0.75em;"></i>
                  </span>
                  <% else %>
                  <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to ' ', destroy_user_session_path, method: :delete, class: 'col fas fa-sign-out-alt fa-lg text-dark' %>
            </li>
          </ul>
        <% else %>
          <span class="navbar-text">
            アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %>
          </span>
        <% end %>
      </div>
    </div>
  </nav>
</header>