<header>
  <nav class="navbar navbar-light bg-white border-bottom py-0">
    <div class="container my-0" style="height:100px";>
      <div class="d-flex align-items-center">
        <%= link_to "/" do %>
          <%= image_tag "logo.png", :size => '150x60' %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
         <% if unchecked_notifications.any? %>
           <p class="text-danger">★</p>
           <%= link_to notifications_path, class: 'nav-link' do %>
             <i class="far fa-bell"></i>
           <% end %>
         <% end %>
          <%= link_to ' ', destroy_user_session_path, method: :delete, class: 'col fas fa-sign-out-alt fa-lg text-dark' %>
        <% else %>
          <span class="navbar-text">
            アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %>
          </span>
        <% end %>
      </div>
    </div>
  </nav>
</header>